/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

/* Global Styles */
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
    border: none;
    background: none;
}


/* navbar Styles */
header{
    background: #B19F9F;
}

header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}


.navbar .nav-menu{
    font-size: 10px;
    display: flex;
    gap: 100px;
    margin-right: 200px;
}

.navbar .nav-menu .nav-link{
    padding: 10px 18px;
    color: #4A0909;
    font-size: 22px;
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover{
    color: white;
    background-color: #4A0909;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
}
.logo{
    width: 60px;
    height: 60px;
}
